<!DOCTYPE html>
<html>
  <%- include('./partials/head') %> 
  <body>
  <%- include('./partials/headerNavbar') %> 
  <main>
    <h2>Ofertas</h2>
    <div class="ofert container-flex">

    <% for (product of allProducts) { %> 
      <div class="product-card">
        <div class="imgBx">
          <img src="/images/<%= product.image %>" alt="">
        </div>
        <div class="contentBx">
          <h3><%= product.product_name %></h3>
          <h2 class="price"><%= product.price %><small>.99</small></h2>
          <a href="#" class="buy">Buy Now</a>
        </div>
      </div>
    <% } %> 

    </div>
    
    <h2>Destacados</h2>
    <div class="selected container-flex">

      <% for (product of allProducts) { %> 
        <div class="product-card">
          <div class="imgBx">
            <img src="/images/<%= product.image %>" alt="">
          </div>
          <div class="contentBx">
            <h3><%= product.product_name %></h3>
            <h2 class="price"><%= product.price %><small>.99</small></h2>
            <a href="#" class="buy">Buy Now</a>
          </div>
        </div>
      <% } %> 
      
    </div>
   </main>
   <%- include('./partials/footer') %>
  </body>
</html>
